### Q1. Define each data type, and give an example.

In [7]:
# a) Integer
'''
An integer datatype represents whole numbers without fractional or decimal parts.
The beauty of Python is that, unlike many other programming languages, it has by
default integers of unlimited size.
'''

i = 10**40
print(f'Type of "i" is {type(i)}')


# b) Float
'''
A floating-point number is a data type that represents numbers with a decimal part. 
'''

pi = 3.14159265
print(f'Type of "pi" is {type(pi)}')


# c) String
'''
A string datatype is used to represent a sequence of characters.
'''

s = "Do Androids Dream of Electric Sheep?"
print(f'Type of "s" is {type(s)}')

Type of "i" is <class 'int'>
Type of "pi" is <class 'float'>
Type of "s" is <class 'str'>

### Q2. What data type is each value? Use the `type` function to verify.

In [9]:
import math

a = 3
b = 4.5
c = 6.0
d = "hello"
e = "3.14159"
f = math.pi

questions = (a, b, c, d, e, f)
for q in questions:
    print(f'Type of {q} is {type(q)}')

Type of 3 is <class 'int'>
Type of 4.5 is <class 'float'>
Type of 6.0 is <class 'float'>
Type of hello is <class 'str'>
Type of 3.14159 is <class 'str'>
Type of 3.141592653589793 is <class 'float'>

### Q3. Use the `type` function to identify the data type of each result. Are there any that do not work?

In [13]:
print(f'Type of 3 + 7 is {type(3 + 7)}')
print(f'Type of 5 + 6.0 is {type(5 + 6.0)}')
print(f'Type of 6 / 3.0 is {type(6 / 3.0)}')
print(f'Type of 6.0 // 3.0 is {type(6.0 // 3.0)}')
print(f'Type of "Py" + "thon" is {type("Py" + "thon")}')
# The following one will raise a TypeError
try:
    print(f'Type of "High" + 5 is {type("High" + 5)}')
except TypeError as tr:
    print("Initial Exception Message:", str(tr))

Type of 3 + 7 is <class 'int'>
Type of 5 + 6.0 is <class 'float'>
Type of 6 / 3.0 is <class 'float'>
Type of 6.0 // 3.0 is <class 'float'>
Type of "Py" + "thon" is <class 'str'>
Initial Exception Message: can only concatenate str (not "int") to str

### Q4. Which variable names are *acceptable*, and which are *not*? If a variable name is unacceptable, explain why.

In [14]:
'''
a. num          # Acceptable
b. AGE          # Acceptable
c. FiRsTnAmE    # Acceptable
d. _count       # Acceptable
e. 2nd_card     # Unacceptable - variable names cannot start with a digit 
f. card_2       # Acceptable
g. card 2       # Unacceptable - variable names cannot contain spaces
h. lambda       # Unacceptable - 'lambda' is a reserved keyword in Python used to define anonymous functions
'''
# Example
func = lambda x, y: x + y
print(func(1, 3))

4

### Q5. Choose a meaningful variable name to represent each scenario.

In [15]:
#a. The number of cards dealt to a player.
num_cards_dealt = 2

#b. An employee's monthly salary.
monthly_salary = 3500

#c. The sum of the values rolled by two dice.
sum_dice_values = 4 + 3

#d. The temperature on a hot summer day.
day_temperature = 30

### Q6. Assign the values `x="house", y="boat" and z="ha"`. What is the result of each statement? Which do not work, and why?

In [23]:
x, y, z = "house", "boat", "ha"

# a. x+y
print(x + y)

# b. y+x
print(y + x)

# c. z*3
print(z * 3)

# d. z*x
try:
    print(z * x)
except TypeError as tr:
    print("TypeError: string multiplication is not allowed adn actually makes no sense")

# e. x+2
try:
    print(x + 2)
except TypeError as tr:
    print("TypeError: impossible to concatenate str to int")

# f. y+"2"
print(y + "2")

houseboat
boathouse
hahaha
TypeError: string multiplication is not allowed adn actually makes no sense
TypeError: impossible to concatenate str to int
boat2

### Q7. Assign the values `base=10` and `height=5`. Calculate the area of a triangle using the formula `A = (1/2)*b*h` and assign the value to the variable `area`. Echo this value.

In [24]:
base = 10
height = 5
area = 0.5 * base * height
print(area)

25.0

### Q8. Execute the following sequence of commands in the shell, then state the final value of `k`.

In [25]:
k = 7    # 7
k += 3   # 10
k *= 2   # 20
k -= 5   # 15
k //= 6  # 2
print(k)

2

### Q9. Explain why the following run-time error occurs.

```python
>>> number = 8
>>> Number += 1
Traceback (most recent call last):
    File "<pyshell>", line 1, in <module>
NameError: name 'Number' is not defined
```

In [27]:
# This happened because Python is case sensitive and there is no variable 'Number' in the namespace, only 'number'

#### Q10. Python is a dynamically-typed language: a variableâ€™s data *type* can change as necessary. Assign the value `x=4`, then use check its type using the `type` function. What data type is it? Increment `x` by 1, using the `+=` operator, then check its type again. Did it change? If so, what data type is it? Increment `x` by 1.0, then check its type. Did it change? If so, what data type is it?

In [28]:
x = 4
print(type(x)) # Int

x += 1
print(type(x)) # Int

x += 1.0
print(type(x)) # Float

<class 'int'>
<class 'int'>
<class 'float'>